In [1]:
import gmaps
from config import g_key
import pandas as pd

In [2]:
#Import the WeatherPy_vacation.csv file as a new DataFrame
challenge_itinerary_df = pd.read_csv('weatherPy_vacation.csv')
challenge_itinerary_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,amapa,HN,71.60,scattered clouds,15.09,-87.97,Incubadora GAHSA
1,9,busselton,AU,71.01,few clouds,-33.64,115.35,Observatory Guest House
2,17,bambous virieux,MU,75.20,scattered clouds,-20.34,57.76,Casa Tia Villa
3,18,georgetown,GY,78.80,scattered clouds,6.80,-58.16,Kanhai's Center
4,22,tutoia,BR,75.65,clear sky,-2.76,-42.27,Pousada Guará's

In [3]:
US_itinerary_df = challenge_itinerary_df.loc[(challenge_itinerary_df['Country'] =='US')]
US_itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,65,kapaa,US,84.2,broken clouds,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
36,163,hilo,US,82.4,broken clouds,19.71,-155.08,Hilo Seaside Hotel
39,179,makakilo city,US,80.6,few clouds,21.35,-158.09,Marriott's Ko Olina Beach Club
56,260,kahului,US,80.6,scattered clouds,20.89,-156.47,Maui Seaside Hotel

In [4]:
# choose four cities from US.
four_cities_df = US_itinerary_df.loc[[7,36,39,56],:]
four_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,65,kapaa,US,84.2,broken clouds,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
36,163,hilo,US,82.4,broken clouds,19.71,-155.08,Hilo Seaside Hotel
39,179,makakilo city,US,80.6,few clouds,21.35,-158.09,Marriott's Ko Olina Beach Club
56,260,kahului,US,80.6,scattered clouds,20.89,-156.47,Maui Seaside Hotel

In [5]:
# create a list of tuple of 4 cities' coordinate.
gmaps.configure(api_key = g_key)

US_coord_list = list(zip(four_cities_df['Lat'], four_cities_df['Lng']))
US_coord_list

[(22.08, -159.32), (19.71, -155.08), (21.35, -158.09), (20.89, -156.47)]

In [8]:
# create a directions layer map by gmaps directions layer.
fig = gmaps.figure()
US_route = gmaps.directions_layer(US_coord_list[0],US_coord_list[-1], waypoints=[US_coord_list[1],US_coord_list[2]],
                                  travel_mode='BICYCLING')

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# create US FOUR cities marker layer map with a pop-up info box 
gmaps.configure(api_key = g_key)
locations = four_cities_df[['Lat','Lng']]
info_box_template='''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>'''

hotel_info = [info_box_template.format(**row) for index, row in four_cities_df.iterrows() ]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))